* {
<<<<<<< HEAD
    padding: 0;
    margin: 0;
}

/* color scheme for the page */

:root {
    --orange: #C26B52;
    --yellow: #F0CB69;
    --green: #617574;
    --beige: #E2D5CD;
}
=======
	box-sizing: border-box;
}

.search-container {
	border: solid 1px;
}

.searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.summary {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-cover {
	border: solid 1px;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	padding: 100px;
}

.score {
	border: solid 1px;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	padding: 50px;
}

footer {
	border: solid 1px;
	display: flex;
	align-items: center;
	justify-content: center;
}
>>>>>>> 0cc9997e00a55053939bb486f30fa87c515fa15b
